footer {
  width: 100%;
  background-color: #0f0d0d;
}

.contai {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 90%;
  /* margin: 20px auto 50px; */
}
.contai > div > h2 {
  color: #fbf9fa;
  font-family: sans-serif;
  font-size: 24px;
  padding: 20px 0;
}
.contai > div > ul {
  list-style-type: none;
}
.contai > div > ul > li {
  margin: 16px 0;
  cursor: pointer;
}
.contai > div > ul > li > a {
  font-size: 20px;
  text-decoration: none;
  font-family: sans-serif;
  position: relative;
  left: 0;
  padding: 2px;
  color: #a19a8f;
  transition: all 0.4s;
}
.contai > div > ul > li > a:hover {
  left: 8px;
}
.contai > div > ul > li > a::selection {
  background-color: red;
  color: #000;
}
.contai > div > form {
  background-color: #172021;
  margin: 200 10px;
  padding: 6px 14px;
  border-radius: 7px;
  width: 100%;
}
.contai > div > form > input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 270px;
  background-color: transparent;
  color: #fff;
}
.contai > div > form > button {
  padding: 14px 26px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

/* -----------------fin de pagina inicio ------------- */
* {
  padding: 0;
}

body {
  background-color: rgb(243, 246, 251);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}
.hero ul li a:hover {
  color: rgba(113, 91, 54, 0.4941176471);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../images/img-1.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

.nav__close {
  display: var(--show, none);
}

/* otra seccion-- */
.hero__container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title {
  font-size: 5rem;
  text-transform: uppercase;
}

.hero__paragraph {
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  background: transparent;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 15px;
  border: 1px solid #fff;
  border-radius: 30px;
}

/* -----otra seccion ----- */
.contenedor {
  display: flex;
  justify-content: space-around;
  padding-top: 8%;
  padding-bottom: 9px;
}
.contenedor figure {
  position: relative;
  height: 200px;
  cursor: pointer;
  width: auto;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 45, 42, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img {
  transform: scale(1.3);
}
.contenedor figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}
.contenedor figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

/* -----otra seccion------ */
.about {
  text-align: center;
}

.subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.about__paragraph {
  line-height: 1.7;
  text-align: center;
  padding-bottom: 15px;
}

/* -----footer de inicio -----------*/
@media (max-width: 850px) {
  .hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
  .contenedor {
    width: 100%;
    max-height: 800px;
    position: relative;
    grid-template-rows: 100px 1fr;
    color: #fff;
  }
  figure {
    height: 250px;
  }
  .contenedor figure {
    width: 80%;
  }
  .contenedor figure .capa p {
    font-size: 12px;
  }
}
/* ----mediaQuerie ------------*/
@media (min-width: 400px) and (max-width: 555px) {
  .nav__logo {
    display: none;
  }
  .nav .nav__link {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav .nav__link--menu {
    flex-direction: column;
    align-items: center;
  }
  .hero__container .hero__title {
    font-size: 35px;
  }
  /* ------------- */
  .contenedor {
    align-items: center;
    flex-direction: column;
  }
  .subtitle {
    color: #fff;
  }
  .about__paragraph {
    color: #fff;
    padding-bottom: 3rem;
  }
  /* -----footer en general--- */
  footer {
    margin: 0;
  }
  footer .contai {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contai div {
    align-items: center;
  }
  .contai h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .contai ul {
    margin: 0;
    padding: 0;
  }
  div h2 {
    text-align: center;
  }
  div form {
    margin: 10px;
    padding: 8px;
  }
  .texts {
    align-items: center;
  }
  form button {
    padding: 4px;
  }
}
/* ---PRODUCTOS---- */
.hira {
  height: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  margin: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.back-video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-hp {
  padding-bottom: 35px;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.btn-hp h2 {
  text-align: center;
  font-size: 55px;
}
.btn-hp p {
  text-align: center;
}

.section {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card.front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.card .back .link {
  border-top: solid 1px #fff;
  height: 50px;
  line-height: 50px;
}
.card .back .link a {
  color: #fff;
}
.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.card .back p {
  letter-spacing: 1px;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* ----mediaQuerie ------------*/
@media (max-width: 850px) {
  .card .back h3 {
    font-size: 25px;
  }
  .card .back p {
    font-size: 12px;
  }
}
/* ----mediaQuerie ------------*/
@media (min-width: 400px) and (max-width: 555px) {
  .hira {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  .back-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn-hp {
    padding: 20px;
    text-align: center;
  }
  .btn-hp h2 {
    color: #fff;
    font-size: 25px;
  }
  .btn-hp p {
    color: #fff;
    font-size: 25px;
  }
  .section {
    padding: 35px;
    flex-direction: column;
  }
  .section .card {
    padding: 5px;
  }
  .hearder {
    text-align: center;
    font-size: 25px;
  }
  footer {
    margin: 0;
  }
  footer .contai {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contai div {
    align-items: center;
  }
  .contai h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .contai ul {
    margin: 0;
    padding: 0;
  }
  div h2 {
    text-align: center;
  }
  div form {
    margin: 10px;
    padding: 8px;
  }
  .text {
    align-items: center;
  }
  form button {
    padding: 4px;
  }
}
/* --------NOSOTROS----------- */
.general-1 {
  padding: 100px 150px 100px 100px;
  background-color: #fbf9fa;
}

.general-1 h2 {
  font-size: 55px;
  line-height: 70px;
  color: #0f0d0d;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.p {
  font-size: 16px;
  color: #414547;
  margin: 25px 0 45px 0;
}

.btnn-1 {
  display: inline-block;
  padding: 9px 10px;
  color: #0f0d0d;
  text-transform: uppercase;
  border: 1px solid #050404;
  border-radius: 15px;
  text-decoration: none;
}

/* ----mediaQ nostrs ------------*/
@media (min-width: 400px) and (max-width: 555px) {
  header {
    color: #0f0d0d;
  }
  .general {
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
  }
  .general-1 {
    padding: 30px;
    text-align: center;
    font-size: 15px;
  }
  .general-1 h2 {
    font-size: 35px;
  }
  .general-3 {
    display: none;
  }
  footer {
    margin: 0;
  }
  footer .contai {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contai div {
    align-items: center;
  }
  .contai h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .contai ul {
    margin: 0;
    padding: 0;
  }
  div h2 {
    text-align: center;
  }
  div form {
    margin: 10px;
    padding: 8px;
  }
  .text {
    align-items: center;
  }
  form button {
    padding: 4px;
  }
}
* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.box {
  position: absolute;
  width: 380px;
  height: 420px;
  background: #0f0d0d;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #90825b, #90825b);
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #866c2f, #866c2f);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
form {
  position: absolute;
  inset: 2px;
  background: #0f0d0d;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
form h2 {
  color: #866c2f;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.inputBox input {
  position: relative;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #0f0d0d;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  font-size: 1em;
  color: #7f7e7e;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox input:valid ~ span, .inputBox input:focus ~ span {
  color: #866c2f;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #866c2f;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid ~ i, .inputBox input:focus ~ i {
  height: 44px;
}

input[type=submit] {
  border: none;
  outline: none;
  padding: 11px 25px;
  background: #866c2f;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 30px;
}

input[type=submit]:active {
  opacity: 0.8;
}

@media (min-width: 400px) and (max-width: 555px) {
  body {
    background-color: #1a1818;
  }
}
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://img.freepik.com/free-photo/top-view-roasted-coffee-beans-scattered-brown-paper-texture-background-with-copy-space_141793-7136.jpg?w=1380&t=st=1682218757~exp=1682219357~hmac=989265d9ff849f6c1c2822938ea08e6533569d26060377eecb50546928aedbbc");
  background-size: cover;
  color: #fff;
}
.blog h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.blog h4 {
  margin-top: -20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.blog a {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #0f0d0d;
  border-radius: 20px;
  margin-bottom: 30px;
  outline: none;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  text-decoration: none;
}

.articles {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.articles .article {
  padding: 15px;
}
.articles .article .left img {
  height: 370px;
  width: 100%;
  border-radius: 15px;
}
.articles .article .right {
  margin-left: 40px;
  max-width: 50%;
  padding: 20px;
}
.articles .article .right p.date {
  color: #7f7e7e;
}
.articles .article .right p.description {
  color: #2d2d2d;
}

@media (min-width: 555px) and (max-width: 1170px) {
  .articles {
    grid-template-columns: minmax(300px 1fr) 1fr;
  }
  .articles .article .left img {
    height: 250px;
    width: 100%;
    border-radius: 15px;
  }
  .articles .article .right {
    height: 250px;
    margin-left: 0;
    padding: 0%;
    max-width: none;
  }
  .articles .article .right h1 {
    font-size: 20px;
  }
  .articles .article .right .description {
    font-size: 14px;
  }
  .articles .article .right .auteur {
    font-size: 12px;
  }
  .contai {
    margin: auto;
    width: auto;
  }
  .contai > div > h2 {
    font-size: 18px;
  }
  .contai > div > ul > li > a {
    font-size: 18px;
  }
}
@media (max-width: 555px) {
  .blog a {
    padding: 5px 10px;
    background-color: transparent;
    color: #0f0d0d;
    border: 1px solid #0f0d0d;
    border-radius: 10px;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    text-decoration: none;
  }
  .articles {
    display: flex;
    flex-direction: column;
  }
  .articles .article .left img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  .articles .article .right {
    margin: 0px;
    max-width: 100%;
    color: #fff;
  }
  .articles .article .right p.description {
    color: #fff;
  }
}

/*# sourceMappingURL=estilos.css.map */
