
$color-fondos: #fff;
$color-primario: #0f0d0d;
$color-secundario:#866c2f;
$color-texto:#7f7e7e ;

$font-p:55px;
$espaciado-estandar: 10px;
$espaciado-doble: 20px;

// $fuente-normal: 1em;
$fuente-pequena: 25px;
$fuente-grande: 55px;
